/* Body Styles */
html {box-sizing: border-box;}
*, *:before, *:after{box-sizing: inherit;}
ul{margin-inline-start: 0; padding-inline-start: 0;}
body{font-family: 'Montserrat', sans-serif ; color:#111;  background: #f6f6f6;}
a{color: #D24858; text-decoration: none; transition: 0.4s; -webkit-transition: 0.4s;}
a:hover{color:#EA8676;}

/* Header Styles */
h1, h2{font-weight: 900; color:#D24858;}
h1{font-size: 2.4em;}
h2{margin: 0; font-size: 1.2em;}
h3, b{font-size: 1em; font-weight: 700; color:#EA8676; }

/* Logo */
.logo{width:200px; text-align: center; margin:60px auto;}
.logo image{width: 100%;}

/* Recipe Links Page */
h1.index-header{text-align: center;}
.recipe-list{display: flex; flex-wrap: wrap;}
.recipe-link{margin:10px; width: 100%; height:400px; position: relative; background:#111; border-radius: 5px; }
.link-image{width:100%; height:100%; overflow: hidden;}
.link-image img{width:100%; height:100%; object-fit: cover; object-position: center; opacity: .7; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out;  -webkit-transform: scale(1); transform: scale(1); }
.link-image:hover img{opacity: .5; -webkit-transform: scale(1.3); transform: scale(1.3); }
.text-overlay{position: absolute; bottom:30px; left:30px; font-weight:700; color:#fff; font-size: 1.5em; }

/* Recipe Page */
.recipe-contents{display: flex; flex-wrap: wrap; max-width: 1000px; margin: 20px auto 40px auto;}
.col2 img{width:100%; height: 350px; object-fit: cover; border-radius: 5px;}
ul li{padding:10px 0;}
ul{margin:0 0 20px 0;}
ol li{padding:20px 0;}
.col1 ul li{list-style: none; display:inline; padding:10 0 20px 0;}
.col1 ul li::after{content: ' | ';}
.col1 ul li:last-child:after{content: ' ';}
.col3 ul li{list-style: none;}
hr{height:1px; border:0; background: #c9c9c9; width:100%; margin:40px 0;}
.col4 li::marker{font-size: 1.1em; font-weight: 900; color:#EA8676;}
.col4 li{padding-left: 10px;}
.footer-nav{padding:20px; width:100%;}
.footer-nav a{color:#fff; background: #EAB05E; padding:15px; border-radius: 5px; text-transform: uppercase; font-size: .8em; font-weight: 700;}
.footer-nav a:hover{background: #d8912e;}

/* Simple Responsive Grid */
.main-grid{width: 96%; margin:auto; max-width: 1000px;}
.col1, .col2, .col3, .col4{width:100%; margin:1em;}

@media screen and (min-width:800px) {
    .main-grid{width:88%;} 
    .recipe-link {width: calc((100% / 2) - 20px); height:400px;  }
    .col1{width: calc(60% - 2em);}
    .col2{width: calc(40% - 2em);}
    .col3{width: calc(30% - 2em);}
    .col4{width: calc(70% - 2em);}
}
@media screen and (min-width:1400px) {
    .main-grid{width:78%;}
    .recipe-link{width: calc((100% / 3) - 20px); height:400px; }  
}
@media screen and (min-width:1600px) {
    .recipe-link{width: calc((100% / 3) - 20px); height:425px; }  
}