/* Body Styles */
html {box-sizing: border-box;}
*, *:before, *:after{box-sizing: inherit;}
body{font-family: 'Montserrat', sans-serif ;}

/* Header Styles */
h1, h2, h3{font-weight: 900;}


/* Recipe Links */
.recipe-list{display: flex; flex-wrap: wrap;}
.recipe-link{margin:10px; width: 100%; height:400px; position: relative; background:#111; }
.link-image{width:100%; height:100%; overflow: hidden;}
.link-image img{width:100%; height:100%; object-fit: cover; object-position: center; opacity: .7; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out;  -webkit-transform: scale(1); transform: scale(1);}
.link-image:hover img{opacity: .5; -webkit-transform: scale(1.3); transform: scale(1.3);}
.text-overlay{position: absolute; bottom:30px; left:30px; font-weight:700; color:#fff; font-size: 1.5em; }

/* Recipe Page */
.recipe-contents{display: flex; flex-wrap: wrap;}
.col1 img{width:100%;}

/* Super Simple Responsive Grid */
.main-grid{width: 98%; margin:auto;}
.col1, .col2{width:100%;}

@media screen and (min-width:800px) {
    .main-grid{width:88%;} 
    .recipe-link {width: calc((100% / 2) - 20px); height:400px;  }
    .col1, .col2{margin:1em;}
    .col1{width: calc(30% - 2em);}
    .col2{width: calc(70% - 2em);}
}
@media screen and (min-width:1400px) {
    .main-grid{width:78%;}
    .recipe-link{width: calc((100% / 3) - 20px); height:450px; }  
}
@media screen and (min-width:1600px) {
    .recipe-link{width: calc((100% / 3) - 20px); height:500px; }  
}